input {
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 80px;
    overflow-x: hidden;
}

.wl-home-search-button{
    margin: 10px;
    width: 43%;
}

.wl-donut-img{
    width: 80px;
    margin-left: 35%;
    margin-bottom: 12px;
}

.wl-home-center{
    padding-top: 80px;
}

.navbar-default{
    background-color: #D7D7D7;
    border-color: #D7D7D7;
}

.navbar-inverse {
    background-color: #4D5973;
    border-color: #4D5973;
}

.navbar-inverse .navbar-brand {
    color: #c79f60;
}

.wl .navbar-custom {
    background-color: rgba(125, 125, 125, 0.95);
    border-color: rgba(125, 125, 125, 0.95);
}

.wl .navbar-custom .navbar-brand {
    color: #f5f5f5;
}

.wl .navbar-custom .navbar-nav > li > a {
    color: #f5f5f5;
}

.wl .navbar-custom .navbar-nav > li > a:focus, .navbar-custom .navbar-nav > li > a:hover {
    color: #23527c;
    background-color: transparent;
}

/*.wl .navbar-default .navbar-brand {*/
/*color: #f5f5f5;*/
/*}*/

/*.wl .navbar-default .navbar-nav>li>a{*/
/*color: #f5f5f5;*/
/*}*/

/*.wl .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {*/
/*color: #23527c;*/
/*}*/

.wl-navLeft {
    margin-left: -15px;
}

.wl .wl-navRight {
    margin-right: -15px;
}

.wl > a {
    color: #f5e009;
}

.wl .away-from-footer {
    padding-bottom: 60px;
}


.wl .wl-blackIcon {
    color: black;
}

.wl-noUnderLine > a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

.wl-30-td .table>tbody>tr>td {
    width : 30%;
}



