<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand pull-left" role="button" onclick="history.back()">
                <span class="glyphicon glyphicon-chevron-left pull-left"></span>
            </a>
            <span class="navbar-brand">{{model.title}}</span>
            <a ng-if="model.logged" class="navbar-brand pull-right" role="button" ng-click="model.logout()">
                <span class="glyphicon glyphicon-log-out pull-right"></span>
            </a>
        <a ng-if="!model.logged" class="navbar-brand pull-right" role="button" href="#">
            <span class="glyphicon glyphicon-home pull-right"></span>
        </a>
    </div>
</nav>