<div ng-include="'views/communal/header.html'"></div>

<div class="container-fluid">
<ul class="list-group">
    <li class="list-group-item">
        <a role="button" href="#!/admin/users">Users</a>
    </li>
    <li class="list-group-item">
        <a href="#!/admin/restaurants">Restaurants and Plates</a>
    </li>
    <!--<li class="list-group-item">-->
        <!--<a href="#!/admin/plates">Plates</a>-->
    <!--</li>-->
    <li class="list-group-item">
        <a href="#!/admin/reviews">Reviews</a>
    </li>
    <li class="list-group-item">
        <a href="#!/admin/relations">Relations</a>
    </li>
</ul>
</div>

<div ng-include="'views/communal/footer.html'"></div>
