<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pull-left" href="#">What We Eat</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a ng-if="model.notLogged" href="#!/login">Login</a></li>
                <li><a ng-if="model.notLogged" href="#!/register">Register</a></li>
                <li><a ng-if="model.logged" href="#!/profile">Profile</a></li>
                <li><a ng-if="model.isUser" href="#!/">Starred Restaurants</a></li>
                <li><a ng-if="model.isManager" href="#!/">My Restaurant</a></li>
                <li><a ng-if="model.isAdmin" href="#!/">Manage All</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<label for="searchAddress">Search Restaurants By Street Address</label>
<input class="form-control"
       id = "searchAddress"
       name = "searchAddress"
       placeholder="316 W. Washington Ave., Madison, WI"
       ng-model="address"/>

<a class="btn btn-lg btn-default pull-right"
   role="button"
   ng-click="model.searchRestaurantsByAddress(address)">Search </a>

<label for="searchLocalRes">Search Local Res</label>
<input class="form-control"
       id = "searchLocalRes"
       name = "searchLocalRes"
       placeholder="restaurant name"
       ng-model="localResName"/>

<a class="btn btn-lg btn-default pull-right"
   role="button"
   ng-click="model.searchLocalRes(localResName)">Search</a>

<label for="searchUser">Search User</label>
<input class="form-control"
       id = "searchUser"
       name = "searchUser"
       placeholder="username"
       ng-model="username"/>

<a class="btn btn-lg btn-default pull-right"
   role="button"
   ng-click="model.searchUserByUsername(username)">Search</a>


<div ng-include="'views/restaurant/templates/restaurant-list.view.client.html'"></div>

<div ng-repeat="localRes in model.localRestaurants">
<a ng-click="model.goToLocalResDetail(localRes._id)" role="button">{{localRes.name}}</a>
</div>

<!--<div ng-include="'./views/user/templates/user-search-result.view.client.html'"></div>-->
<a ng-click="model.goToUserDetail(model.usersResult)" role="button"> {{model.usersResult.username}}</a>