<div ng-include="'views/communal/header.html'"></div>

<h1>Review</h1>
<div class="container-fluid">
    <ul class="list-group">

        <li class="list-group-item active">
            <div class="row">
                <div class="col-md-2 hidden-sm hidden-xs">Restaurant</div>
                <div class="col-md-5 col-xs-6">Content</div>
                <div class="col-xs-3">Status</div>
                <div class="col-md-2 col-xs-3">Edit</div>
            </div>
        </li>

        <li ng-repeat="review in model.reviews" class="list-group-item">
            <div class="row">
                <div class="col-md-3 hidden-sm hidden-xs"><a
                        ng-click="model.goToRestaurant(review.restaurant)"
                        >{{review.restaurant}}</a></div>
                <div class="col-md-5 col-xs-6">{{review.content}}</div>
                <div class="col-xs-3">{{review.type}}</div>
                <div class="col-xs-3">
                    <a href="#!/user/reviews/{{review._id}}/edit">
                        <span class="glyphicon glyphicon-pencil">Edit</span></a>
                </div>
            </div>
        </li>
    </ul>
    <div ng-include="'views/communal/footer.html'"></div>
</div>