<div ng-include="'views/communal/header.html'"></div>

<div ng-show="model.alert"
     class="alert alert-success">
    {{model.alert}}
</div>
<div class="container-fluid">
    <label for="restaurantId">Restaurant ID</label>
    <a class="pull-right" ng-click="model.updateRestaurant(model.res)" role="button">Save Info</a>
    <input name="restaurantId"
           ng-model="model.res._id"
           readonly
           type="text"
           id="restaurantId"
           class="form-control"
           placeholder="restaurantId"
    />
    <label for="restaurantName">Restaurant Name</label>

    <input name="restaurantName"
           ng-model="model.res.name"
           type="text"
           id="restaurantName"
           class="form-control"
           placeholder="restaurantName"
    />
    <label for="restaurantAddress">Restaurant Address</label>
    <input name="restaurantAddress"
           ng-model="model.res.address"
           type="text"
           id="restaurantAddress"
           class="form-control"
           placeholder="restaurantAddress"
    />
    <!--todo: open hours-->
    <!--<label for = "hours"></label>-->
    <label for = "menuTable">Menu
    </label>
    <a role="button" class="pull-right" ng-click="model.saveMenu()">Save Menu</a>
        <table class="table" id="menuTable">
            <tr>
                <th>PlateName</th>
                <th>Description</th>
                <th>Price</th>
                <th><span class="table-add glyphicon glyphicon-plus"
                          role="button"
                          ng-click="add=true"></span></th>
            </tr>
            <tr ng-repeat="plate in model.plates">
                <td><input class="form-control input-sm" type="text" ng-model="plate.name" ng-readonly="read" value="{{plate.name}}"> </td>
                <td><input class="form-control input-sm" type="text" ng-model="plate.description" value="{{plate.description}}"> </td>
                <td>
                    <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input class="form-control input-sm" type="number"  ng-model="plate.price" value="{{plate.price}}">
                </div> </td>
                <td>
                <span class="glyphicon glyphicon-remove" role="button" ng-click="model.removePlate(plate)"></span>
                </td>
            </tr>
            <tr ng-show="add">
                <td><input class="form-control input-sm" type="text" ng-model="model.toAddPlate.name"> </td>
                <td><input class="form-control input-sm" type="text" ng-model="model.toAddPlate.description"> </td>

                <td>

                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input class="form-control input-sm" type="number" ng-model="model.toAddPlate.price">

                </div>
                </td>

                <td><span class="glyphicon glyphicon-plus" role="button" ng-click="model.addPlate(model.toAddPlate)"></span>
                </td>
            </tr>
        </table>
    </div>
