<div class="wl wl-profile">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="#"
               role="button"
               class="navbar-brand">
                <span class="pull-left glyphicon glyphicon-chevron-left"></span>
            </a>
            <div class="navbar-brand wl-navLeft">Profile</div>
            <ul class="nav navbar-nav pull-right wl-navRight">
                <li>
                    <a role="button"
                       ng-click="model.updateUser(model.user)">
                        <span class="pull-right glyphicon glyphicon-ok"></span> </a>
                </li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <label for="username">Username</label>
        <input name="username"
               readonly
               ng-model="model.user.username"
               type="text"
               id="username"
               class="form-control"
               placeholder="username"
        />
        <label for="role">ROLE</label>
        <input name="role"
               readonly
               ng-model="model.user.roles"
               type="text"
               id="role"
               class="form-control"
               placeholder="role"
        />
        <label for="email">Email</label>
        <input name="email"
               ng-model="model.user.email"
               type="email"
               id="email"
               class="form-control"
               placeholder="alice@wonderland.com"
        />
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               type="text"
               id="firstName"
               class="form-control"
               placeholder="firstname"
         />
        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               type="text"
               id="lastName"
               class="form-control"
               placeholder="lastName"
        />

        <a href="#!/user/detail/{{model.currentUser._id}}">
            <h2><span class="glyphicon glyphicon-arrow-right"></span>Go To Detail</h2></a>

        <div ng-switch="model.currentUser.roles">
            <div ng-switch-when="USER">
            <a ng-click="model.goToStarList()" role="button">

                <h2><span class="glyphicon glyphicon-arrow-right"></span>Starred Restaurant List</h2></a>
                <a href="#!/user/reviews" role="button">
                    <h2><span class="glyphicon glyphicon-arrow-right"></span> Reviews</h2></a>

            </div>

            <div ng-switch-when="MANAGER">
                    <a ng-click="model.goToStore()" role="button">
                        <h2><span class="glyphicon glyphicon-arrow-right"></span>Store</h2></a>
            </div>
            <div ng-switch-when="ADMIN">
                    <a href="#!/admin/collections" role="button">
                        <h2><span class="glyphicon glyphicon-arrow-right"></span>Manage All</h2></a>
            </div>
        </div>

        <a class="btn btn-warning btn-block"
           ng-click="model.unregister()"
           role="button">Unregister</a>
        <a class="btn btn-danger btn-block"
           ng-click=model.logout()
           role="button">Logout</a>
    </div>
</div>
    <div ng-include="'views/communal/footer.html'"></div>
