<div ng-include="'views/communal/header.html'"></div>


<div class="container-fluid">
<div ng-show="model.alert"
     class="alert alert-success">
    {{model.alert}}
</div>
<div class="container-fluid wl-user-center">
    <h1>{{model.viewedUser.username}}</h1>
</div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
            <div ng-if="model.viewedUser.roles==='MANAGER'">
                <a ng-click="model.goToRestaurant(model.viewedUser.restaurant)" role="button">
                    <span class="glyphicon glyphicon-fire wl-fire-center"></span><br>His Restaurant</a>
            </div>
            <div ng-if="model.viewedUser.roles==='USER'">
                <a ng-click="model.goToStarList()" role="button">
                    <span class="glyphicon glyphicon-hand-right wl-hand-center"></span>
                    <br>His Favorite Restaurants</a>
            </div>
                </div>
                    <div class="col-xs-6">
                       <a role="button" ng-if="model.notFollowing"
                          ng-click="model.follow(model.viewedUser._id)">
                           <span class="glyphicon glyphicon-eye-open"></span>
                           <br>Follow</a>


                        <a ng-if="model.haveFollowed"
                           role="button"
                           ng-click="model.unfollow(model.viewedUser._id)">
                           <span class="glyphicon glyphicon-eye-open"></span>
                            <br>Unfollow</a>
                    </div>
                </div>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">Reviews</div>
                <div class="col-xs-4">Followers</div>
                <div class="col-xs-4">Followings</div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">{{model.viewedUser.reviews.length}}</div>
                <div role="button" class="col-xs-4" ng-click="showFollowers=true;showFollowings=false">{{model.followers.length}} Show</div>
                <div role="button" class="col-xs-4" ng-click="showFollowings=true;showFollowers=false">{{model.followings.length}} Show</div>
            </div>
        </li>
    </ul>

        <ul ng-if="showFollowers" class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">Followers</div>
                    <div class="col-xs-4"></div>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="follower in model.followers">
                <div class="row">
                    <div class="col-xs-4">UserName</div>
                    <div class="col-xs-4">{{follower.username}}</div>
                    <div class="col-xs-4"></div>
                </div>
            </li>
        </ul>

        <ul ng-if="showFollowings" class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">Followings</div>
                </div>
            </li>
            <li class="list-group-item" ng-repeat="following in model.followings">
                <div class="row">

                    <div class="col-xs-4">UserName</div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">{{following.username}}</div>
                </div>
            </li>
        </ul>

</div>
<div ng-include="'views/communal/footer.html'"></div>